* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.App {
  /* text-align: center;

  display: grid;
  place-items: center;
  padding: 1rem; */
}
.quiz-contaier {
  text-align: center;
  height: 100vh;
  display: grid;
  place-items: center;
}
.quiz {
  background-color: rgb(232, 230, 230);
  width: 80%;
  padding: 2rem;
  border-radius: 10px;
}

/* background-color: rgb(232, 230, 230);
  width: 80%;
  padding: 2rem;
  border-radius: 10px; */

.question {
  font-size: medium;
  padding: 1rem;
}
.options {
  display: grid;
  grid-auto-flow: row;
  gap: 0.5rem;
  padding: 1rem;
  /* place-content: start; */
  width: 100%;
  /* background-color: red; */

  /* background-color: red; */
}
ul {
  list-style: none;
}
.option {
  /* background-color: pink; */
  padding: 0.5rem;
  width: auto;
  /* height: 35px; */
  display: grid;
  border-bottom: 1px solid rgba(0, 0, 0, 0.195);

  place-items: start;
  /* border-radius: 5px; */
  /* align-content: center; */
  /* padding: 1rem; */
}
.incorrect {
  background-color: rgba(220, 20, 60, 0.562);
}
.correct {
  background-color: greenyellow;
}

.radio-value {
  /* background-color: rgb(218, 192, 255); */
  height: 2rem;

  display: grid;

  width: 100%;
  place-items: start;
  align-items: center;
  padding: 0.5rem;
  border-radius: 3px;
}
input[type="radio"] {
  display: none;
}
input[type="radio"]:checked + .radio-value {
  background-color: rgba(205, 44, 44, 0.715);
}
input[type="radio"]:checked + .radio-value.right {
  background-color: aquamarine;
}
.header {
  position: relative;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  /* height: 100px;
  background-color: aqua; */
  /* padding: 1rem; */
  gap: 0.5rem;
  border-bottom: 1px solid #725ac3;
  height: 8vh;
  color: #725ac3;
}
.nav-list-items {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  gap: 1.5rem;
  padding: 1rem;
  font-size: 1.5rem;
}
.header-logo {
  font-size: 1.7rem;
  margin-left: 1rem;
}
.home-page {
  background-color: #f2f7f2;
  height: 100vh;
}
.main {
  display: grid;
  height: 92vh;
  place-items: center;
  padding: 1rem;
  background: linear-gradient(to right, #36d1dc, #5b86e5);

  color: white;
}
.main-container {
  width: 65%;
  align-content: center;
}
.main-text {
  display: grid;
  gap: 1rem;
  line-height: 2rem;
}
.description {
  font-size: 1.3rem;
}

img {
  width: 100%;
}
a {
  all: unset;
}

/* CSS */
.button {
  position: relative;
  display: inline-block;
  margin: 15px;
  padding: 15px 30px;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #725ac1;
  background: transparent;
  cursor: pointer;
  transition: ease-out 0.5s;
  border: 2px solid #725ac1;
  border-radius: 10px;
  box-shadow: inset 0 0 0 0 #725ac1;
}

.button:hover {
  color: white;
  box-shadow: inset 0 -100px 0 0 #725ac1;
}

.button:active {
  transform: scale(0.9);
}
.link {
  /* background-color: red; */
}
.link:hover {
  border-bottom: 1px solid #725ac1;
}
.categories-main {
  padding: 1rem;
}
.categories-main ul {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(auto-fit, 300px);
  grid-gap: 2rem;
  place-content: center;
}
