* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
  height: 100vh;
}
.quiz-contaier {
  text-align: center;
  display: grid;
  max-width: 100%;
}
.quiz {
  background-color: rgb(232, 230, 230);
  /* width: 80%; */
  padding: 2rem;
  border-radius: 10px;
  margin: 8% 22% 5%;
}

/* background-color: rgb(232, 230, 230);
  width: 80%;
  padding: 2rem;
  border-radius: 10px; */

.question {
  font-weight: 500;
  font-size: 20px;
  padding: 1rem;
  padding-bottom: 2rem;
}
.options {
  display: grid;
  grid-auto-flow: row;
  gap: 0.5rem;
  padding: 1rem;
  /* place-content: start; */
  width: 100%;
  /* background-color: red; */

  /* background-color: red; */
}
ul {
  list-style: none;
}
.option {
  /* background-color: pink; */
  padding: 0.5rem;
  width: auto;
  /* height: 35px; */
  display: grid;
  border-bottom: 1px solid rgba(0, 0, 0, 0.195);

  place-items: start;
  /* border-radius: 5px; */
  /* align-content: center; */
  /* padding: 1rem; */
}
.incorrect {
  background-color: rgba(220, 20, 60, 0.562);
}
.correct {
  background-color: greenyellow;
}

.radio-value {
  /* background-color: rgb(218, 192, 255); */
  height: 2rem;

  display: grid;

  width: 100%;
  place-items: start;
  align-items: center;
  padding: 0.5rem;
  border-radius: 3px;
}
input[type="radio"] {
  display: none;
}
input[type="radio"]:checked + .radio-value {
  background-color: rgba(205, 44, 44, 0.715);
}
input[type="radio"]:checked + .radio-value.right {
  background-color: aquamarine;
}
.buttons {
  padding-top: 2rem;
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  gap: 2rem;
}
.previous-btn {
  padding: 0.8rem 2.5rem;
  border-radius: 12px;
}

.next-btn {
  padding: 0.8rem 2.5rem;
  border-radius: 12px;
}
.header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 3rem;
  border-bottom: 1px solid #725ac3;
  height: 8vh;
  color: #725ac3;
  padding: 0 5%;
}
.rightt {
  padding: 0.5rem 2rem;
  border-radius: 16px;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #211749;
  background: transparent;
  cursor: pointer;
  transition: ease-out 0.5s;
  border: 1px solid #211749;
  box-shadow: inset 0 0 0 0 #211749;
}

.rightt:hover {
  color: white;
  box-shadow: inset 0 -100px 0 0 #725ac1;
}

.rightt:active {
  transform: scale(0.9);
}

nav {
  display: grid;
  justify-content: space-between;
  align-items: center;
}

.nav-list-items {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  gap: 1.5rem;
  padding: 1rem;
  font-size: 1.5rem;
}
.header-logo {
  font-size: 1.7rem;
  margin-left: 1rem;
}
.home-page {
  background-color: #f2f7f2;
  height: 100vh;
}
.main {
  display: grid;
  height: 92vh;
  place-items: center;
  padding: 1rem;
  background: linear-gradient(to right, #36d1dc, #5b86e5);

  color: white;
}
.main-container {
  width: 60%;
  align-content: center;
  display: grid;
  gap: 1rem;
}
.main-text {
  display: grid;
  gap: 1.5rem;
}
.main-text h1 {
  font-size: 44px;
  line-height: 1.3;
}
.main-text h1 span{
  color: #211749;
}
.description {
  font-size: 1.3rem;
}

img {
  width: 100%;
}
a {
  all: unset;
}

/* CSS */
.button {
  position: relative;
  display: inline-block;
  margin: 15px;
  padding: 0.8rem 3rem;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #725ac1;
  background: transparent;
  cursor: pointer;
  transition: ease-out 0.5s;
  border: 2px solid #725ac1;
  border-radius: 10px;
  box-shadow: inset 0 0 0 0 #725ac1;
}

.button:hover {
  color: white;
  box-shadow: inset 0 -100px 0 0 #725ac1;
}

.button:active {
  transform: scale(0.9);
}

.link:hover {
  border-bottom: 1px solid #725ac1;
}
.categories {
  /* text-decoration: center; */
  height: 100vh;
  display: grid;
  /* place-content: center; */

}
.categories-main {
  background: linear-gradient(to right, #36d1dc, #5b86e5);
  height: 92vh;
  padding: 1rem;
  border:  px solid #725ac3;

}
.categories-container {
  display: grid;
  grid-auto-flow: row;
  gap: 2rem;
  margin: 9% 17% 5%;
  text-align: center;
}
.categories-container h1 {
  color: #211749;
  font-size: 44px;
}
.text {
  padding-bottom: 1rem;
  color: white;
  line-height: 1.5;
  font-size: 18px;
}
.selects {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  gap: 2rem;
}
select {
  width: 100%;
  min-width: 15ch;
  max-width: 30ch;
  border: 1px solid #725ac1;
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  font-size: 1.25rem;
  cursor: pointer;
  line-height: 1.1;
  background-color: #fff;
  /* background-image: linear-gradient(to top, #f9f9f9, #fff 33%); */
}
select::-ms-expand {
  display: none;
}
select {
  outline: none;
}

